{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
            {%- if form -%}
            <form id="form" action="" method="POST">
                {{ form.hidden_tag() }} {# same as form.csrf_token #}
                <fieldset class='form-group'>
                    <legend class='border-bottom mb-4'>Delete user record</legend>
                    <div class="form-group">
                        {{ form.resourcelist.label }}
                        {{ form.resourcelist }}
                        <small id="resourcename" class="form-text text-muted"></small>
                    </div>
                </fieldset>
                    {{ form.submit(class='btn btn-primary') }}
            </form>
            {%- else -%}
                <div class="alert alert-danger" role="alert">No records found!</div>
            {%- endif -%}
		</div>
    </div>

    <div class="row">
		<div class="col-12 pt-3">
        {%- if records is defined -%}
            {%- if records -%}
                <div class="alert alert-info" role="alert">The following record has been deleted:</div>
                <ul class="list-group">
                    {%- for (resourcename, username, join_date) in records -%}
                        <li class="list-group-item">Resource = {{resourcename}} with username = {{username}} added on {{join_date}}</li>
                    {%- endfor -%}
                </ul>
            {%- else  -%}
                <div class="alert alert-danger" role="alert">No such records found!</div>
            {%- endif -%}
        {%- endif -%}
            
		</div>
    </div>

    <div class="row">
		<div class="col-12">
            
            
		</div>
    </div>
</div>
    
{% endblock content %} 

{% block script %}
    <script>
        $(document).ready(function(){
            $("#form").on("submit", function(e) {
                return confirm("This action will delete the selected record! Are you sure you want to do this??");

            });
            


        });

</script>  
{% endblock script %}
